$section-height-ref: "100vh - #{$header-height-small}";
$section-height-first-ref: "100vh - #{$header-height-big}";
$section-height: calc(#{$section-height-ref});
$section-height-first: calc(#{$section-height-first-ref});
$section-height-min: 500px;
// common features

@mixin full-width-background ($color) {
    background: $color;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        background-color: $color;
        top: 0;
        bottom: 0;
        width: var(--window-width);
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}

@mixin side-fade ($color){
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    height: 100%;
    //width: calc(100% + 400px);
    width: calc(2 * #{$section-height-ref});
    &:before {
        content: "";
        position: absolute;
        background: linear-gradient(to right, $color 0%, transparent 98%);
        top: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        z-index: 1;
    }

    &:after {
        content: "";
        position: absolute;
        background: linear-gradient(to left, $color 0%, transparent 98%);
        top: 0;
        bottom: 0;
        right: 0;
        width: 200px;
        z-index: 1;
    }
  }

  @mixin button-first-page ($color-bg, $color-bg2, $color-txt, $color-txt2, $size){
    color: $color-txt;
    font-weight: 100;
    display: block;
    margin: 1rem auto 0.5rem auto;
    height: 2em;
    padding: 0px 1em;
    border: none;
    font-size: $size;
    text-transform: uppercase;
    background-color: $color-bg;
    &:hover {
        cursor: pointer;
        color: $color-txt2;
        background-color: $color-bg2;
    }
    &:hover, 
    &:focus {
        transition: background-color 0s;
        border: none;
        outline: none;
    }
  }

  @mixin section-content-container {
    width: 90%;
    height: 100%;
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);  
  }

 // first section
.first-section {
    min-height: $section-height-min;
    height: $section-height;
    @media screen and (min-width: $breakpoint-phone) {
        height: $section-height-first;
    }
    position: relative;

    &-left{
        height: 50%;
        width:100vw;
        position: absolute;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        @media screen and (min-width: $breakpoint-tablet) {
            height: 100%;
            width:50vw;
            left: 50%;
            transform: translateX(-50vw);
            align-items: center;
            justify-content: flex-end;
        }

        &-container {
            width: 75%;
            max-width: 700px;
            //background-color: $primary-color-light;
            //padding: 50px;
            
            // >div:first-child {
            //     width: 700px;
            // }

            >div:first-child {
                display: flex;
                flex-direction: row;
            }

            h1 {
                display: inline-block;
                font-weight: 100;
                text-transform: uppercase;
                color: $primary-color-superdark;
                margin-left: 15px;
                &:before {
                    position: absolute;
                    display: inline-block;
                    content: "";
                    border-right: .3rem solid $primary-color-dark;
                    width: 0px;
                    height: 1em;
                    transform: translateY(0.15em) translateX(-15px);
                }
            }

            @media screen and (min-width: $breakpoint-phone) {
                h1 {
                    font-size: 2.0rem;
                }
                p {
                    font-size: 1rem;
                }
            }
            @media screen and (min-width: $breakpoint-tablet) {
                h1 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                }
            }
            @media screen and (min-width: $breakpoint-screen) {
                h1 {
                    font-size: 3vw ;
                }
                p {
                    font-size: 1.2rem;
                }
            }
        }

    }

    &-right{
        height: 50%;
        width:100vw;
        top: 50%;
        position: absolute;

        display: flex;
        align-items: flex-start;
        justify-content: center;

        @media screen and (min-width: $breakpoint-tablet) {
            height: 100%;
            width: 50vw;
            left: 50%;
            top: 0%;    
            align-items: center;
            justify-content: flex-start;
            padding-left: 10px;
        }
        >div {
            max-width: 700px;

            $height1: "(#{$section-height-ref}) * 0.5";
            $height2: "#{$section-height-min} * 0.5";
            $height: "Max((#{$height1}), #{$height2} )";
            $width: 100%;
            width: Min(#{$width}, (#{$height}) * 0.9);
            //width: min(100%, (max(calc(#{$section-height-min} * 0.5), calc(#{$section-height-first} * 0.5)) * 0.95));

            @media screen and (min-width: $breakpoint-phone) {
                $height1: "(#{$section-height-first-ref}) * 0.5";
                $height2: "#{$section-height-min} * 0.5";
                $height: "Max((#{$height1}), #{$height2} )";
                $width: 100%;
                width: Min(#{$width}, (#{$height}) * 0.9);
            }
            @media screen and (min-width: $breakpoint-tablet) {
                $string: "Max(#{$section-height-min}, #{$section-height-first-ref}) * 0.75";
                width: Min(100% * 0.75, #{$string});
            }

            >div {
                position: relative;
                width: 100%;
                padding-bottom: 100%;
                
                >.image {
                    position: absolute!important;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    //height: 100%;
                    border-radius: 50%;
                    filter: saturate(125%);
                    filter: contrast(125%);
                    background-color: $primary-color;
                    border: 3px solid $primary-color;
                }
           }
        }      
    }
}


// presentation bar

.presentation-bar {
    min-height: $section-height-min;
    height: $section-height;
    @include full-width-background($primary-color);
}

.presentation-bar-main{
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
    transition-timing-function: ease-in-out;  

    div.side-fade{
        @include side-fade($primary-color);
    }
    &-container {
        @include section-content-container
    }

    p {
        color: white;
        margin: 0px
    }

    .slideshow-image {
        filter: brightness(120%);
        opacity: 0.5;
        //filter: saturate(50%);
        //filter: grayscale(50%);
    }

    .title {
        background-color: scale-color($primary-color-superdark, $alpha: -5%);
        position: absolute;
        font-variant: small-caps;
        font-weight: 100;
        top: 5%;
        padding: 0 5px;

        font-size: 3rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        @media screen and (min-width: $breakpoint-phone) {
            font-size: 3.5rem;
            transform: translateX(0);
            left: 5%;
        }
        @media screen and (min-width: $breakpoint-tablet) {
            font-size: 4rem;
            transform: translateX(0);
            left: 5%;
        }
        
    }

    .bottom-section {
        background-color: scale-color($primary-color-superdark, $alpha: -5%);
        position: absolute;
        padding: 5px;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;

        @media screen and (min-width: $breakpoint-phone) {
            width: 85%;
        }
        @media screen and (min-width: $breakpoint-tablet) {
            width: 70%;
        }

        .comment {
            font-weight: 100;
            font-size: 1.1rem;
            @media screen and (min-width: $breakpoint-phone){
                font-size: 1.3rem
            }
            @media screen and (min-width: $breakpoint-tablet){
                font-size: 1.5rem
            }
        }
        
        .button {
            @include button-first-page(
                $primary-color, 
                $primary-color-dark,
                $primary-color-superdark, 
                white,
                1.3rem
            ) 
        }
    }
}

.presentation-bar-nav {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.presentation-bar-btn {
    height: 16px;
    width: 16px;
    margin: 0 25px;
    border-radius: 50%;
    border: 0px;
    background-color: scale-color($primary-color-superdark, $alpha: -5%);
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
    &:hover {
        cursor: pointer;
        background: scale-color($primary-color-dark, $alpha: -5%);
    }
    &:hover, 
    &:focus {
        transition: background-color 0s;
        border: none;
        outline: none;
    }
    &-active {
        background-color: scale-color($primary-color-dark, $alpha: -15%);
    }
}

.image-bg {
    height: 100%;
}

.section-two {
    min-height: $section-height-min;
    height: $section-height;
    background: white;
    @include full-width-background($primary-color-light);
    >div.side-fade {
        @include side-fade($primary-color-light);
    }

    &-container {
        @include section-content-container;        

        .header {
            //background-color: scale-color($primary-color-superdark, $alpha: -15%);
            position: absolute;
            top: 5%;
            left: 5%;
            width: 100%;
            max-width: 80%;

            h1 {
                display: block;
                font-weight: 100;
                color: $primary-color-superdark;
                text-transform: uppercase;
                margin: 0;

                font-size: 2.6rem;
                @media screen and (min-width: $breakpoint-phone) {
                    font-size: 4rem
                }
                @media screen and (min-width: $breakpoint-tablet) {
                    font-size: 4.5rem;
                }
                @media screen and (min-width: $breakpoint-screen) {
                    font-size: 5rem;
                }
            }
        }

        .bottom-section {
            background-color: scale-color($primary-color-light, $alpha: -15%);
            position: absolute;
            padding: 5px;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;

            @media screen and (min-width: $breakpoint-phone) {
                width: 85%;
            }
            @media screen and (min-width: $breakpoint-tablet) {
                width: 70%;
            }

            p {
                margin: 0px
            }

            .comment {
                font-weight: 100;
                font-size: 1.1rem;
                @media screen and (min-width: $breakpoint-phone){
                    font-size: 1.3rem
                }
                @media screen and (min-width: $breakpoint-tablet){
                    font-size: 1.5rem
                }
            }

            .button {
                @include button-first-page(
                    $primary-color-dark, 
                    $primary-color,
                    white, 
                    $primary-color-superdark,
                    1.3rem
                )
            }
        }
    }
}

.section-cards {
    min-height: $section-height-min;
    min-height: $section-height;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include full-width-background($primary-color-dark);

    &-container {
        z-index: 1;
        width: 100%;
        max-width: 90vw;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        display: block;
        font-weight: 100;
        color: $primary-color-superdark;
        text-transform: uppercase;
        margin: 1rem;
        text-align: center;
        font-size: 2rem;
        @media screen and (min-width: $breakpoint-phone) {
            font-size: 2.5rem
        }
        @media screen and (min-width: $breakpoint-tablet) {
            font-size: 3rem;
        }
        @media screen and (min-width: $breakpoint-screen) {
            font-size: 3.5rem;
        }
    }
}

.card-container {
    min-height: $section-height-min;
    width: 25%;
    min-width: 250px;
    background-color: white;
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 1rem;
    margin: 20px;
    box-shadow: 1px 1px 3px 1.5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    >h1 {
        order: 1;
        display: block;
        font-weight: 100;
        font-size: 2rem;
        color: $primary-color-superdark;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        //white-space: nowrap;
    }

    .card-image {
        order: 2;
        width: calc(100% + 50px);
        margin: 0px;
        height: 150px;
        background-color: $primary-color;
        border: 3px solid $primary-color;
        //position: relative;
        //transform: translateX(-5%);
    }

    .comment {
        order: 3;
        flex: 1;
    }

    .button {
        order: 4;
        @include button-first-page(
            $primary-color-dark, 
            $primary-color,
            white, 
            $primary-color-superdark,
            1.1rem
        )
    }
    
    
}

.reverse {
    .comment {
        order: 1
    }
    .card-image {
        order: 2
    }
}

.active {
    visibility: visible;
    opacity: 1;
}

.section-half {
    min-height: $section-height-min;
    min-height: $section-height;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: $breakpoint-phone) {
        display: flex;
        flex-direction: row;
    }

    &-first {
        height: 50%;
        width:100vw;
        left: 50%;
        position: absolute;
        transform: translateX(-50vw);

        //border: 10px solid $primary-color-light;

        @media screen and (min-width: $breakpoint-phone) {
            height: 100%;
            width:50vw;
            left: 50%;
            position: absolute;
            transform: translateX(-50vw);
        }
        
    }

    &-second {
        height: 50%;
        width:100vw;
        top: 50%;
        position: absolute;
        background-color: $primary-color-light;

        
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: $breakpoint-phone) {
            height: 100%;
            width:50vw;
            left: 50%;
            top: 0;
        }
        .content-container {
            width: 80%;

            >h1 {
                order: 1;
                display: block;
                font-weight: 100;
                font-size: calc(1rem + 5vw);
                color: $primary-color-superdark;
                text-transform: uppercase;
                margin: 0;
                text-align: center;
            }

            p {
                padding: 0;
                margin: 0;
                font-weight: 100;
                font-size: calc(1.2rem + 0.6vw);
            }

            .button {
                @include button-first-page(
                    $primary-color-dark, 
                    $primary-color,
                    white, 
                    $primary-color-superdark,
                    1.6rem
                )
            }
        }
    }
}