$header-height-small: 50px;
$header-height-big: 200px;

:root {
    --header-height: #{$header-height-small};
    --window-width: 100vw;
}

$primary-color: #d5b5bcff;
$primary-color-light: scale-color($primary-color, $lightness: +50%);
$primary-color-dark: scale-color($primary-color, $lightness: -30%, $saturation: -50%);
$primary-color-superdark: scale-color($primary-color, $lightness: -60%, $saturation: -70%);

$secondary-color: white;

$breakpoint-tablet: 768px;
$breakpoint-phone: 600px;

$header-height: var(--header-height);
$footer-height: 100px;

@media screen and (min-width: $breakpoint-phone) {   
    :root {
        --header-height: #{$header-height-big};   
    }
}

